body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.blur{
  filter: blur(4px);
}
.title{
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  margin: 0;
}
.text{
  font-weight: 300;
  font-style: normal;
  color: $black;
  font-size: 20px;
  line-height: 26px;
}
.error{
  border: 2px solid red;
}
.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 400;
  transition: all ease-out 0.3s;

  &__telephone{
    font-weight: 600;
    &:hover{
      transform: scale(1.1)
    }
  }
}
.close{
  position: absolute;
  width: 5%;
  height: 5%;
  top: 0;
  right: 0;
  cursor: pointer;
  &-slash1{
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 8%;
    top: 50%;
    right: 30%;
    transform: rotate(45deg);
  }
  &-slash2{
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 8%;
    top: 50%;
    right: 30%;
    transform: rotate(-45deg);
  }
}
.btn{
  min-width: 140px;
  background-color: $light-grey;
  color: $white;
  border: 1px solid $light-grey;
  padding: 0.5% 2%;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-out 0.3s;
  &:hover, &.active{
    background-color: $white;
    color: $light-grey;
  }
}
.container{
  margin: 30px 60px 0 60px;
  @media screen and (max-width:1439px){
    margin: 30px 30px 0 30px;
  }
}
.header-list{
  display: flex;
  width: 30%;
  justify-content: space-between;
  .header__item{
    list-style-type: none;
    @include list;
    display: inline-block;
    transition: all ease-out 0.3s;
    &:hover{
      transform: scale(1.1)
    }
  }
}
.list-lang{
  @include list;
  &__item{
    display: inline-block;
    margin-right: 10px;
  }
  &__link{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    &:hover{
      padding: 5px 7px;
      border-radius: 8px;
      background: $light-grey;
      margin: 0 -7px;
      color: $white;
  }
    &.active{
      display: inline-block;
      padding: 5px 7px;
      border-radius: 4px;
      background: $light-grey;
      margin: 0 -7px ;
      color: $white;
    }
  }
}

.main{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:1439px){
    display: block;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 85%;
    bottom: -20px;
    height: 1%;
    border-radius: 12px;
    background-color: $light-grey;
    @media screen and (max-width:1439px){
      left: 45%;
      right: 0;
      bottom: -30px;
      height: 0.5%;
      border-radius: 12px;
      background-color: $light-grey;
    }
    @media screen and (max-width:767px) {
      left: 0%;
    }
  }
  .container{
    padding: 70px 0;
  }
  &__photo{
    @media screen and (max-width:1439px){
      display: flex;
      justify-content: center;
    }
  }
  &__center{
    align-self: center;
    width: 20%;
    @media screen and (max-width:1439px){
      width: 50%;
    }
    @media screen and (max-width:767px) {
      width: 100%;
    }
  }

  &__end{
    align-self: flex-end;
    width: 20%;
    @media screen and (max-width:1439px){
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin-left: auto; 
    }
    @media screen and (max-width:767px) {
      width: 100%;
    }
  }

  &__subtitle{
    font-weight: bold;
    font-size:24px;
    line-height: 32px;
    width: 100%;
  }

  .btn{
    padding: 3% 5%;
    &_main:hover{
      background-color: $light-grey;
      color: $white;
      border: 1px solid $light-grey;
    }
  }
}

.state{
  position: relative;
  background-color: $white;
  padding: 2%;
  &__title{
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
  }
  &__text{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8%;
  }
  &__link{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &.active{
    position:absolute;
    top: 20%;
    left: 40%;
  }
  &.hidden{
    display: none;
  }
  &__input{
    display: block;
    padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
  }
  &__subtext{
    font-size: 13px;
    line-height: 20px;
  }
  &__btn{
    width: 100%;
    padding: 3%;
  }

}

.success{
    position: relative;
    background-color: $white;
    padding: 4%;
    &.hidden{
      display: none;
    }
    &.active{
      position:absolute;
      top: 20%;
      left: 40%;
    }
    &__photo{
      display: flex;
      justify-content: center;
    }
}